/tests        export-ignore
/docs         export-ignore
/tasks        export-ignore
/.github      export-ignore
/.gitattributes export-ignore
/.gitignore   export-ignore
/composer.json export-ignore
/composer.lock export-ignore
/phpunit.xml  export-ignore
